<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="well well-sm">
		<h4><%= feed.describe_action %></h4>
		<p><b>Usuário:</b> <%= feed.user.name %></p>
		<p><%= feed.created_at.strftime("%d/%m/%Y %T") %></p>
	</div>
</div>