<% provide(:title, 'Sobre') %>
<% provide(:label, 'Sobre') %>

<div class="row-fluid">
	<p>
		Olá, me chamo Kaciano Ghelere e gostaria de lhe dar boas vindas por acessar 
		este sistema!
	</p>
	<p>
		Este aplicativo tem como objetivo fornecer uma base de dados interligada 
		para que os jogadores de <b>O Um Anel</b> possam compartilhar suas 
		criações e agilizar o controle dos narradores, fornecendo ferramentas 
		práticas e de fácil acesso.
	</p>
	<p class="text-danger">
		<b>Atenção:</b> Existem conteúdos neste sistema que foram criados por 
		outras pessoas, nós não tomamos os créditos por nada que estiver em 
		exibição (imagens, músicas, regras e etc.).
	</p>
	<h4 class="epic-text">O Sistema de regras</h4>
	<p>
		O UM ANEL (em inglês The One Ring) é considerado o RPG mais fiel ao 
		espírito da Terra-média, o mundo mítico apresentado por J. R. R. Tolkien 
		em seus romances O hobbit e O Senhor dos Anéis. Suas regras simples e 
		elegantes reforçam os temas essenciais do universo tolkieniano, além de 
		dividir entre todos os participantes o prazer de criar, desenvolver e 
		narrar um grande épico.<br/>
		Os jogadores interpretam aventureiros fadados a se tornar grandes heróis 
		da Terra-média. Percorrem o continente, descobrem seus segredos, 
		participam do desenrolar de sua história, conhecem seus habitantes 
		e lendas vivas. Conforme a Sombra vai se insinuando mais uma vez nas 
		terras dos Povos Livres, os personagens vão encontrando pistas do que 
		anda acontecendo e têm a oportunidade de tomar parte na guerra contra 
		o Inimigo.
	</p>
</div>