<% provide(:title, 'Sobre') %>
<% provide(:label, 'Sobre') %>

<div class="row-fluid">
	<p>
		Olá, me chamo Kaciano Ghelere e gostaria de lhe dar boas vindas por acessar 
		este sistema!
	</p>
	<p>
		Este aplicativo tem como objetivo fornecer uma base de dados interligada 
		para que os jogadores de <b>The One Ring</b> possam compartilhar suas 
		criações e agilizar o controle dos narradores, fornecendo ferramentas 
		práticas e de fácil acesso.
	</p>
	<p class="text-danger">
		<b>Atenção:</b> Existem conteúdos neste sistema que foram criados por 
		outras pessoas, nós não tomamos os créditos por nada que estiver em 
		exibição (imagens, músicas, regras e etc.).
	</p>
</div>