<% provide(:title, 'The One Ring - Tools') %>
<% provide(:label, 'Atividades Recentes') %>

<div class="row">
	<div class="col-sm-12">
		<%= render partial: 'feed', collection: @feeds, as: :feed %>
	</div>
</div>