<% provide(:title, 'The One Ring - Tools') %>
<% provide(:label, 'The One Ring - Tools') %>

<div class="row-fluid">
	<div class="jumbotron">
		<h3><b>Teste</b></h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Qui dignissimos, praesentium nam hic iure odio incidunt sit illo et, 
			a eum necessitatibus ullam, nihil nemo, exercitationem aspernatur! 
			Nobis recusandae, architecto.
		</p>
		<h3><b>Teste</b></h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			Qui dignissimos, praesentium nam hic iure odio incidunt sit illo et, 
			a eum necessitatibus ullam, nihil nemo, exercitationem aspernatur! 
			Nobis recusandae, architecto.
		</p>
	</div>
</div>