<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="well well-sm user">
		<%= gravatar_for user, size: 50, classes: "img-rounded" %>
		<%= link_to user.name, user %>
		<% if current_user.admin? && !current_user?(user) %>
			<%= link_to(user, method: :delete, class: "pull-right", title: "Remover",
																		data: { confirm: "Deseja remover?" }) do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		<% end %>
	</div>
</div>