<% provide(:title, 'Editar') %>
<% provide(:label, 'Modificar informações') %>
<% provide(:button_text, 'Salvar') %>

<div class="row-fluid">
	<div class="col-md-6 col-md-offset-3">
		<center>
			<a href="http://gravatar.com/emails" target="_blank">
				<%= gravatar_for @user, classes: "img-circle" %>
			</a>
		</center>
		<%= render 'form' %>
	</div>
</div>