<% provide(:title, @user.name) %>
<% provide(:label, "Dados do usuário") %>

<div class="row">
	<aside class="col-md-12">
		<center>
			<%= gravatar_for @user, classes: "img-circle" %>
			<h2>
				<%= @user.name %> 
			</h2>
			<% if current_user === @user %>
				<%= link_to (edit_user_path(current_user)) do %>
					Editar <span class="glyphicon glyphicon-edit"></span>
				<% end %>
			<% end %>
		</center>
	</aside>
</div>