<% provide(:title, "#{@skill.id} - #{@skill.name}") %>
<% provide(:label, 'Habilidades') %>

<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= "#{@skill.id} - #{@skill.name}" %></h4>
		</div>

		<div class="panel-body">
			<div class="col-md-12">
				<%= @skill.description %>
			</div>
		</div>

		<div class="panel-footer">
			<% if current_user?(@skill.user) || admin? %>
				<%= link_to 'Editar', edit_skill_path(@skill), 
																						class: "btn btn-primary btn-sm" %>
			<% end %>																					
			<%= link_to 'Voltar', skills_path, class: "btn btn-default btn-sm" %>
		</div>
	</div>
</div>