<% provide(:title, 'Categorias de Armas') %>
<% provide(:label, 'Categorias de Armas') %>

<div class="row">
	<%= render @weapon_categories %>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'Nova Categoria', new_weapon_category_path, 
																		class: "btn btn-default btn-sm" %>
	</div>
</div>