<% provide(:title, "#{@weapon_category.id} - #{@weapon_category.name}") %>
<% provide(:label, 'Categorias de armas') %>

<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= "#{@weapon_category.id} - #{@weapon_category.name}" %></h4>
		</div>

		<div class="panel-body">
			<div class="row"><%= render @weapon_category.weapons %></div>
		</div>

		<div class="panel-footer">
			<% if admin? %>
				<%= link_to 'Editar', edit_weapon_category_path(@weapon_category), 
																					class: "btn btn-primary btn-sm" %>
			<% end %>
			<%= link_to 'Voltar', weapon_categories_path, 
																					class: "btn btn-default btn-sm" %>
		</div>
	</div>
</div>