<% provide(:title, 'Armas') %>
<% provide(:label, 'Armas') %>

<div class="row">
	<%= render @weapons %>
</div>
<div class="row">
	<div class="col-md-12">
		<%= link_to 'Nova arma', new_weapon_path, class: "btn btn-default btn-sm" %>
	</div>
</div>