<% provide(:title, 'Npcs') %>
<% provide(:label, 'Npcs') %>

<div class="row">
	<%= render @npcs %>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'Novo NPC', new_npc_path, class: "btn btn-primary btn-sm" %>
	</div>
</div>