<% provide(:title, 'Criar novo NPC') %>
<% provide(:label, 'Criar novo NPC') %>
<% provide(:button_text, 'Criar') %>

<div class="row">
	<%= render 'form' %>
</div>

<script type="text/javascript">
	$(function() {
		$.startMultiselects();
	});
</script>